% ---  JOB    --- %
% --------------- %

Job: "HNL_mc20e_15GeV_lim"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "path_to_your_ntuples"
  Label: "HNL"
  LumiLabel: "140 fb^{-1}"
  %MCweight: "1."
  MCweight: "1"
  Lumi: 1
  PlotOptions: "LEFT,NOXERR,NOENDERR"
  NtupleName: "TMVATree"
  DebugLevel: 0
  MCstatThreshold: 0.01
  MCstatConstraint: "Poisson"
  SystControlPlots: TRUE #FALSE
  SystPruningShape: 0.001
  SystPruningNorm: 0.001
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "pdf"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 30
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
%  StatOnly: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  FitBlind: TRUE
  UseMinos: SigXsecOverSM

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
 % SignalInjection: TRUE
% --------------- %
% --- REGIONS --- %
% --------------- %



Region: "HNL_CR_tt"
  Type: CONTROL
  DataType: DATA
  Variable: "lep_invMass",30,0,150
  VariableTitle: "m_{ll} [GeV]"
  Selection: " Nbjet>=1 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj>400 && lep_1stPt> 45 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: "CR ttbar "
  ShortLabel: "CR ttbar "
  NtuplePathSuff: "your_directory"
  %Binning: 0,150
  BinWidth: 30

Region: "HNL_CR_ztautau"
  Type: CONTROL
  DataType: DATA
  Variable: "lep_invMass",6,0,150
  VariableTitle: "m_{ll} [GeV]"
  Selection: " Nbjet==0 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj>400 && lep_1stPt< 45 && lep_1stPt> 35 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: "CR Ztt"
  ShortLabel: "CR Z#tau#tau"
  NtuplePathSuff: "your_directory"
  %Binning: 0,150
  BinWidth: 6

Region: "HNL_SR"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "BDTScore15",30,-1,1
  VariableTitle: "BDTScore"
  %Selection: " Nbjet ==0 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj>400 && lep_1stPt> 45"
  Selection: " Nbjet ==0 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj>400 && lep_1stPt> 45 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: " SR "
  ShortLabel: "SR"
  TexLabel: "SR"
  NtuplePathSuff: "your_directory"
  #Binning: -1,-0.6,-0.2,0,0.6,0.8,1
  #BinWidth: 30

Region: "HNL_VR"
  Type: VALIDATION
  DataType: DATA
  Variable: "mjj",20,0,400
  VariableTitle: "m_{jj} [GeV]"
  Selection: " Nbjet ==0 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj<400 && lep_1stPt> 45 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: "VR"
  ShortLabel: "VR"
  TexLabel: "VR"
  NtuplePathSuff: "your_directory"
  BinWidth: 20



% --------------- %
% --- SAMPLES --- %
% --------------- %

% Normal samples

Sample: "Data"
  Title: "Data"
  Type: DATA
  NtupleFile: "data_run2"
#  MCweight: "FinalWeight"

Sample: "HNL"
  Type: SIGNAL
  Title: "HNL"
  TexTitle: "HNL"
  FillColor: 2
  LineColor: 2
  NtupleFile: "signal_604535_run2"
  Regions: "HNL_SR" ,"HNL_VR"
  MCweight: "ScaledWeight15"
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "#it{t#bar{t}} "
  TexTitle: "$t\bar{t}$"
  FillColor: 0
  MCweight: "FinalWeight"
  LineColor: 1
  Smooth: TRUE
  NtupleFile: "ttbar_run2_15"

Sample: "wjets"
  Type: BACKGROUND
  Title: "W + jets"
  TexTitle: "W + jets"
  FillColor: 92
  LineColor: 1
  MCweight: "FinalWeight"
  NtupleFiles: "wjets_run2",
  Smooth: TRUE

Sample: "singleTop"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
  MCweight: "FinalWeight"
  Smooth: TRUE
  %MCweight: "FinalWeight"
  NtupleFile: "singletop_run2"

Sample: "HWW"
  Type: BACKGROUND
  Title: "HWW"
  FillColor: 418
  LineColor: 1 #418
  Smooth: TRUE
  MCweight: "FinalWeight"
  NtupleFile: "HWW_run2"

Sample: "DY"
  Type: BACKGROUND
  Title: "DY"
  FillColor: 901
  LineColor: 1 #901
  Smooth: TRUE
  MCweight: "FinalWeight"
  NtupleFile: "DY_15_run2"

Sample: "QCD"
  Type: BACKGROUND
  Title: "Higgs"
%  Group: "Other"
  FillColor: 866 #632
  LineColor: 866 #632
  MCweight: "FinalWeight"
  Smooth: TRUE
  NtupleFile: "H_run2"

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 600
  LineColor: 600 #901
  Smooth: TRUE
  MCweight: "FinalWeight"
  NtupleFile: "VV_15_run2"

Sample: "Ztautau"
  Type: BACKGROUND
  Title: "Ztautau"
  FillColor: 400
  LineColor: 400 #901
  MCweight: "FinalWeight"
  Smooth: TRUE
  NtupleFile: "ztautau_80_run2"


% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "SigXsecOverSM"
  Title: "#it{#mu}(HNL)"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: HNL
%  Regions: "ljets_HThad_ge6jge4b"

NormFactor: "mu_tt"
  Title: "#it{k}(#it{t#bar{t}})"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: ttbar

NormFactor: "mu_ztautau"
  Title: "#it{k}(Z#tau#tau)"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: Ztautau

NormFactor: "muLumi"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: all
  Constant: TRUE

% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only

Systematic: "wzjXsec"
  Title: "#it{W}+jets normalization"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: wjets
  Category: Theory
  SubCategory: "other-bkg"

Systematic: "stXsec"
  Title: "Single top cross-section"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: singleTop
  Category: Theory
  SubCategory: "other-bkg"

Systematic: "ttXsec"
  Title: "#it{t#bar{t}} cross-section"
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
  Samples: ttbar
  Category: Theory
  SubCategory: "ttbar-model"

Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.0085
  OverallDown: -0.0085
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"



% Weight systematics

Systematic: "LepSF_EL_Trigger";"LepSF_EL_Reco";"LepSF_EL_ID";"LepSF_EL_Isol"
  Title: "Electron trigger eff.";"Electron reconstruction eff.";"Electron identification eff.";"Electron isolation eff."
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  WeightSufUp: "El_Trig_Up/lepton_SF";"El_Reco_Up/lepton_SF";"El_ID_Up/lepton_SF";"El_Iso_Up/lepton_SF"
  WeightSufDown: "El_Trig_Down/lepton_SF";"El_Reco_Down/lepton_SF";"El_ID_Down/lepton_SF";"El_Iso_Down/lepton_SF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "LepSF_MU_Trigger";"LepSF_MU_Reco";"LepSF_MU_Isol"
  Title: "Muon trigger eff.";"Muon reconstruction eff.";"Muon isolation eff."
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  WeightSufUp: "Mu_Trig_Stat_Up/lepton_SF";"Mu_Reco_Stat_Up/lepton_SF";"Mu_Iso_Stat_Up/lepton_SF"%;"El_Iso_Up/lepton_SF"
  WeightSufDown: "Mu_Trig_Stat_Down/lepton_SF";"Mu_Reco_Stat_Down/lepton_SF";"Mu_Iso_Stat_Down/lepton_SF" %"El_Trig_Down/lepton_SF";"El_Reco_Down/lepton_SF";"El_ID_Down/lepton_SF";"El_Iso_Down/lepton_SF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

