% ---  JOB    --- %
% --------------- %

Job: "HNL_run2_80GeV_ASIMOV_NOBDT"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "your_directory"
  Label: "HNL"
  LumiLabel: "140 fb^{-1}"
  %MCweight: "1."
  MCweight: "1"
  Lumi: 1
  PlotOptions: "LEFT,NOXERR,NOENDERR"
  NtupleName: "TMVATree"
  DebugLevel: 0
  MCstatThreshold: 0.01
  MCstatConstraint: "Poisson"
  SystControlPlots: TRUE #FALSE
  SystPruningShape: 0.001
  SystPruningNorm: 0.001
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "pdf"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 30
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
%  StatOnly: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  FitBlind: TRUE %FALSE %TRUE
  UseMinos: SigXsecOverSM

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
 % SignalInjection: TRUE


% --------------- %
% --- REGIONS --- %
% --------------- %



Region: "HNL_CR_tt"
  Type: CONTROL
  DataType: DATA
  Variable: "lep_invMass",30,0,150
  VariableTitle: "m_{ll} [GeV]"
  Selection: " Nbjet>=1 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj>400 && lep_1stPt> 20 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: "CR ttbar "
  ShortLabel: "CR ttbar "
  NtuplePathSuff: "your_path"
  %Binning: 0,150
  BinWidth: 30

Region: "HNL_CR_ztautau"
  Type: CONTROL
  DataType: DATA
  Variable: "lep_invMass",6,0,150
  VariableTitle: "m_{ll} [GeV]"
  Selection: " Nbjet==0 &&  channel == 2 &&lep_invMass > 30 && lep_invMass < 80 &&  mjj>400 &&  lep_1stPt> 20 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: "CR Ztt"
  ShortLabel: "CR Z#tau#tau"
  NtuplePathSuff: "your_path"
  %Binning: 0,150
  BinWidth: 6

Region: "HNL_SR"
  Type: SIGNAL
  DataType: ASIMOV
  Variable: "BDTScore80",30,-1,1
  VariableTitle: "BDTScore"
  Selection: " Nbjet ==0 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj>400 && lep_1stPt> 20  && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: " SR "
  ShortLabel: "SR"
  TexLabel: "SR"
  NtuplePathSuff: "your_path"
  #Binning: -1,-0.6,-0.2,0,0.6,0.8,1
  #BinWidth: 30

Region: "HNL_VR"
  Type: VALIDATION
  DataType: DATA
  Variable: "mjj",20,0,400
  VariableTitle: "m_{jj} [GeV]"
  Selection: " Nbjet ==0 &&  channel == 2 &&lep_invMass < 150 &&lep_invMass > 0 &&  mjj<400 && lep_1stPt> 20 && lep_2ndPt> 15 && jet_1stPt> 35 && jet_2ndPt> 20"
  Label: "VR"
  ShortLabel: "VR"
  TexLabel: "VR"
  NtuplePathSuff: "your_path"
  BinWidth: 20



% --------------- %
% --- SAMPLES --- %
% --------------- %

% Normal samples

Sample: "Data"
  Title: "Data"
  Type: DATA
  NtupleFile: "data_run2"

Sample: "HNL"
  Type: SIGNAL
  Title: "HNL"
  TexTitle: "HNL"
  FillColor: 2
  LineColor: 2
  NtupleFile: "signal_604541_run2"
  Regions: "HNL_SR" ,"HNL_VR"
  MCweight: "ScaledWeight80"
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "#it{t#bar{t}} "
  TexTitle: "$t\bar{t}$"
  FillColor: 0
  MCweight: "FinalWeight"
  LineColor: 1
  Smooth: TRUE
  NtupleFile: "ttbar_run2_80_n"

Sample: "wjets"
  Type: BACKGROUND
  Title: "W + jets"
  TexTitle: "W + jets"
  FillColor: 92
  LineColor: 1
  MCweight: "FinalWeight"
  NtupleFiles: "wjets_run2",
  Smooth: TRUE

Sample: "singleTop"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
  MCweight: "FinalWeight"
  Smooth: TRUE
  %MCweight: "FinalWeight"
  NtupleFile: "singletop_run2"

Sample: "HWW"
  Type: BACKGROUND
  Title: "HWW"
  FillColor: 418
  LineColor: 1 #418
  Smooth: TRUE
  MCweight: "FinalWeight"
  NtupleFile: "HWW_run2"

Sample: "DY"
  Type: BACKGROUND
  Title: "DY"
  FillColor: 901
  LineColor: 1 #901
  Smooth: TRUE
  MCweight: "FinalWeight"
  NtupleFile: "DY_run2"

Sample: "QCD"
  Type: BACKGROUND
  Title: "Higgs"
%  Group: "Other"
  FillColor: 866 #632
  LineColor: 866 #632
  MCweight: "FinalWeight"
  Smooth: TRUE
  NtupleFile: "H_run2"

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 600
  LineColor: 600 #901
  Smooth: TRUE
  MCweight: "FinalWeight"
  NtupleFile: "VV_run2_1"

Sample: "Ztautau"
  Type: BACKGROUND
  Title: "Ztautau"
  FillColor: 400
  LineColor: 400 #901
  MCweight: "FinalWeight"
  Smooth: TRUE
  NtupleFile: "ztautau_80_run2"


% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "SigXsecOverSM"
  Title: "#it{#mu}(HNL)"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: HNL


NormFactor: "mu_tt"
  Title: "#it{k}(#it{t#bar{t}})"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: ttbar

NormFactor: "mu_ztautau"
  Title: "#it{k}(Z#tau#tau)"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: Ztautau

NormFactor: "muLumi"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: all
  Constant: TRUE

% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only

Systematic: "wzjXsec"
  Title: "#it{W}+jets normalization"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: wjets
  Category: Theory
  SubCategory: "other-bkg"

Systematic: "stXsec"
  Title: "Single top cross-section"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: singleTop
  Category: Theory
  SubCategory: "other-bkg"

Systematic: "ttXsec"
  Title: "#it{t#bar{t}} cross-section"
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
  Samples: ttbar
  Category: Theory
  SubCategory: "ttbar-model"

Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.0085
  OverallDown: -0.0085
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"

%Systematic: "HNLXsec"
%  Title: "#it{HNL} cross-section"
%  Type: OVERALL
%  OverallUp:    0.10
%  OverallDown: -0.10
%  Samples: HNL
%  Category: Theory
%  SubCategory: "signal-model"

% Weight systematics

Systematic: "LepSF_EL_Trigger";"LepSF_EL_Reco";"LepSF_EL_ID";"LepSF_EL_Isol"
  Title: "Electron trigger eff.";"Electron reconstruction eff.";"Electron identification eff.";"Electron isolation eff."
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  WeightSufUp: "El_Trig_Up/lepton_SF";"El_Reco_Up/lepton_SF";"El_ID_Up/lepton_SF";"El_Iso_Up/lepton_SF"
  WeightSufDown: "El_Trig_Down/lepton_SF";"El_Reco_Down/lepton_SF";"El_ID_Down/lepton_SF";"El_Iso_Down/lepton_SF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "LepSF_MU_Trigger";"LepSF_MU_Reco";"LepSF_MU_Isol"
  Title: "Muon trigger eff.";"Muon reconstruction eff.";"Muon isolation eff."
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  WeightSufUp: "Mu_Trig_Stat_Up/lepton_SF";"Mu_Reco_Stat_Up/lepton_SF";"Mu_Iso_Stat_Up/lepton_SF"%;"El_Iso_Up/lepton_SF"
  WeightSufDown: "Mu_Trig_Stat_Down/lepton_SF";"Mu_Reco_Stat_Down/lepton_SF";"Mu_Iso_Stat_Down/lepton_SF" %"El_Trig_Down/lepton_SF";"El_Reco_Down/lepton_SF";"El_ID_Down/lepton_SF";"El_Iso_Down/lepton_SF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"



# --- BJES Response ---
Systematic: "JET_BJES_Response"
  Title: "JET BJES Response"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_BJES_Response__1up"
  NtupleNameDown: "TMVATreeJET_BJES_Response__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

# --- Effective NP Groups (Detector, Mixed, Modelling, Statistical) ---
Systematic: "JET_EffectiveNP_Detector1";"JET_EffectiveNP_Detector2"
  Title: "JET EffectiveNP Detector 1";"JET EffectiveNP Detector 2"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_EffectiveNP_Detector1__1up";"TMVATreeJET_EffectiveNP_Detector2__1up"
  NtupleNameDown: "TMVATreeJET_EffectiveNP_Detector1__1down";"TMVATreeJET_EffectiveNP_Detector2__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JET_EffectiveNP_Mixed1";"JET_EffectiveNP_Mixed2";"JET_EffectiveNP_Mixed3"
  Title: "JET EffectiveNP Mixed 1";"JET EffectiveNP Mixed 2";"JET EffectiveNP Mixed 3"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_EffectiveNP_Mixed1__1up";"TMVATreeJET_EffectiveNP_Mixed2__1up";"TMVATreeJET_EffectiveNP_Mixed3__1up"
  NtupleNameDown: "TMVATreeJET_EffectiveNP_Mixed1__1down";"TMVATreeJET_EffectiveNP_Mixed2__1down";"TMVATreeJET_EffectiveNP_Mixed3__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JET_EffectiveNP_Modelling1";"JET_EffectiveNP_Modelling2";"JET_EffectiveNP_Modelling3";"JET_EffectiveNP_Modelling4"
  Title: "JET EffectiveNP Modelling 1";"JET EffectiveNP Modelling 2";"JET EffectiveNP Modelling 3";"JET EffectiveNP Modelling 4"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_EffectiveNP_Modelling1__1up";"TMVATreeJET_EffectiveNP_Modelling2__1up";"TMVATreeJET_EffectiveNP_Modelling3__1up";"TMVATreeJET_EffectiveNP_Modelling4__1up"
  NtupleNameDown: "TMVATreeJET_EffectiveNP_Modelling1__1down";"TMVATreeJET_EffectiveNP_Modelling2__1down";"TMVATreeJET_EffectiveNP_Modelling3__1down";"TMVATreeJET_EffectiveNP_Modelling4__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JET_EffectiveNP_Statistical1";"JET_EffectiveNP_Statistical2";"JET_EffectiveNP_Statistical3";"JET_EffectiveNP_Statistical4";"JET_EffectiveNP_Statistical5";"JET_EffectiveNP_Statistical6"
  Title: "JET EffectiveNP Statistical 1";"JET EffectiveNP Statistical 2";"JET EffectiveNP Statistical 3";"JET EffectiveNP Statistical 4";"JET EffectiveNP Statistical 5";"JET EffectiveNP Statistical 6"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_EffectiveNP_Statistical1__1up";"TMVATreeJET_EffectiveNP_Statistical2__1up";"TMVATreeJET_EffectiveNP_Statistical3__1up";"TMVATreeJET_EffectiveNP_Statistical4__1up";"TMVATreeJET_EffectiveNP_Statistical5__1up";"TMVATreeJET_EffectiveNP_Statistical6__1up"
  NtupleNameDown: "TMVATreeJET_EffectiveNP_Statistical1__1down";"TMVATreeJET_EffectiveNP_Statistical2__1down";"TMVATreeJET_EffectiveNP_Statistical3__1down";"TMVATreeJET_EffectiveNP_Statistical4__1down";"TMVATreeJET_EffectiveNP_Statistical5__1down";"TMVATreeJET_EffectiveNP_Statistical6__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

# --- Eta Intercalibration ---
Systematic: "JET_EtaIntercalibration_Modelling";"JET_EtaIntercalibration_NonClosure_PreRec";"JET_EtaIntercalibration_TotalStat"
  Title: "JET EtaIntercalibration Modelling";"JET EtaIntercalibration NonClosure PreRec";"JET EtaIntercalibration TotalStat"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_EtaIntercalibration_Modelling__1up";"TMVATreeJET_EtaIntercalibration_NonClosure_PreRec__1up";"TMVATreeJET_EtaIntercalibration_TotalStat__1up"
  NtupleNameDown: "TMVATreeJET_EtaIntercalibration_Modelling__1down";"TMVATreeJET_EtaIntercalibration_NonClosure_PreRec__1down";"TMVATreeJET_EtaIntercalibration_TotalStat__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

# --- Flavor Systematics ---
Systematic: "JET_Flavor_Composition";"JET_Flavor_Response"
  Title: "JET Flavor Composition";"JET Flavor Response"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_Flavor_Composition__1up";"TMVATreeJET_Flavor_Response__1up"
  NtupleNameDown: "TMVATreeJET_Flavor_Composition__1down";"TMVATreeJET_Flavor_Response__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

# --- InSitu ---
Systematic: "JET_InSitu_NonClosure_PreRec"
  Title: "JET InSitu NonClosure PreRec"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_InSitu_NonClosure_PreRec__1up"
  NtupleNameDown: "TMVATreeJET_InSitu_NonClosure_PreRec__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"


% --- Pileup Systematics ---

Systematic: "JET_Pileup_OffsetMu"
  Title: "JET Pileup OffsetMu"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_Pileup_OffsetMu__1up"
  NtupleNameDown: "TMVATreeJET_Pileup_OffsetMu__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "Pileup"

Systematic: "JET_Pileup_OffsetNPV"
  Title: "JET Pileup OffsetNPV"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_Pileup_OffsetNPV__1up"
  NtupleNameDown: "TMVATreeJET_Pileup_OffsetNPV__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "Pileup"

Systematic: "JET_Pileup_PtTerm"
  Title: "JET Pileup PtTerm"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_Pileup_PtTerm__1up"
  NtupleNameDown: "TMVATreeJET_Pileup_PtTerm__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "Pileup"

Systematic: "JET_Pileup_RhoTopology"
  Title: "JET Pileup RhoTopology"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_Pileup_RhoTopology__1up"
  NtupleNameDown: "TMVATreeJET_Pileup_RhoTopology__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "Pileup"



Systematic: "JET_PunchThrough_MC16"
  Title: "JET PunchThrough MC16"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_PunchThrough_MC16__1up"
  NtupleNameDown: "TMVATreeJET_PunchThrough_MC16__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JET_SingleParticle_HighPt"
  Title: "JET SingleParticle HighPt"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_SingleParticle_HighPt__1up"
  NtupleNameDown: "TMVATreeJET_SingleParticle_HighPt__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

% --- JES Systematics ---

Systematic: "JET_JESUnc_Noise_PreRec"
  Title: "JET JES Noise PreRec"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JESUnc_Noise_PreRec__1up"
  NtupleNameDown: "TMVATreeJET_JESUnc_Noise_PreRec__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JET_JESUnc_VertexingAlg_PreRec"
  Title: "JET JES VertexingAlg PreRec"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JESUnc_VertexingAlg_PreRec__1up"
  NtupleNameDown: "TMVATreeJET_JESUnc_VertexingAlg_PreRec__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"



Systematic: "JER_EffectiveNP1";"JER_EffectiveN2";"JES_Scenario1_NP3"
  Title: "JES NPScenario 1 - NP 1";"JES NPScenario 1 - NP 2";"JES NPScenario 1 - NP 3"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JER_EffectiveNP_1__1up";"TMVATreeJET_JER_EffectiveNP_2__1up";"TMVATreeJET_JER_EffectiveNP_3__1up"
  NtupleNameDown: "TMVATreeJET_JER_EffectiveNP_1__1down";"TMVATreeJET_JER_EffectiveNP_2__1down";"TMVATreeJET_JER_EffectiveNP_3__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"


Systematic: "JER_EffectiveNP4";"JER_EffectiveN5";"JES_Scenario1_NP6"
  Title: "JES NPScenario 1 - NP 4";"JES NPScenario 1 - NP 5";"JES NPScenario 1 - NP 6"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JER_EffectiveNP_4__1up";"TMVATreeJET_JER_EffectiveNP_5__1up";"TMVATreeJET_JER_EffectiveNP_6__1up"
  NtupleNameDown: "TMVATreeJET_JER_EffectiveNP_4__1down";"TMVATreeJET_JER_EffectiveNP_5__1down";"TMVATreeJET_JER_EffectiveNP_6__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JER_EffectiveNP7";"JER_EffectiveN8";"JES_Scenario1_NP9"
  Title: "JES NPScenario 1 - NP 7";"JES NPScenario 1 - NP 8";"JES NPScenario 1 - NP 9"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JER_EffectiveNP_7__1up";"TMVATreeJET_JER_EffectiveNP_8__1up";"TMVATreeJET_JER_EffectiveNP_9__1up"
  NtupleNameDown: "TMVATreeJET_JER_EffectiveNP_7__1down";"TMVATreeJET_JER_EffectiveNP_8__1down";"TMVATreeJET_JER_EffectiveNP_9__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JER_EffectiveNP10";"JER_EffectiveN11"%;"JES_Scenario1_NP11"
  Title: "JES NPScenario 1 - NP 10";"JES NPScenario 1 - NP 11"%;"JES NPScenario 1 - NP 11"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JER_EffectiveNP_10__1up";"TMVATreeJET_JER_EffectiveNP_11__1up"%;"TMVATreeJET_NPScenario1_JET_GroupedNP_3__1up"
  NtupleNameDown: "TMVATreeJET_JER_EffectiveNP_10__1down";"TMVATreeJET_JER_EffectiveNP_11__1down"%;"TMVATreeJET_NPScenario1_JET_GroupedNP_3__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JER"
  Title: "JER"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JER_DataVsMC_MC16__1up"
  NtupleNameDown: "TMVATreeJET_JER_DataVsMC_MC16__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JER_Noise_PreRec"
  Title: "JER Noise PreRec"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JERUnc_Noise_PreRec__1up"
  NtupleNameDown: "TMVATreeJET_JERUnc_Noise_PreRec__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"


Systematic: "JER_mc20vsmc21"
  Title: "JER mc20vsmc21"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JERUnc_mc20vsmc21_MC20_PreRec__1up"
  NtupleNameDown: "TMVATreeJET_JERUnc_mc20vsmc21_MC20_PreRec__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JES"
  Title: "JES"
  Type: HISTO
  Samples: all
  NtupleNameUp: "TMVATreeJET_JESUnc_mc20vsmc21_MC20_PreRec__1up"
  NtupleNameDown: "TMVATreeJET_JESUnc_mc20vsmc21_MC20_PreRec__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"



Systematic: "EG_Resolution";"EG_Scale";"SCALE_AF3"
  Title: "Electron energy resolution";"Electron energy scale";"SCALE_AF3"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeEG_RESOLUTION_ALL__1up";"TMVATreeEG_SCALE_ALL__1up";"TMVATreeEG_SCALE_AF3__1up"
  NtupleNameDown: "TMVATreeEG_RESOLUTION_ALL__1down";"TMVATreeEG_SCALE_ALL__1down";"TMVATreeEG_SCALE_AF3__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "Muons_ID";"Muons_MS";"Muons_Scale"
  Title: "Muon momentum resolution (ID) ";"Muon momentum resolution (MS)";"Muon momentum scale"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMUON_ID__1up";"TMVATreeMUON_MS__1up";"TMVATreeMUON_SCALE__1up"
  NtupleNameDown: "TMVATreeMUON_ID__1down";"TMVATreeMUON_MS__1down";"TMVATreeMUON_SCALE__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"


% Muon Sagitta Data Statistics
Systematic: "MUON_SAGITTA_DATASTAT"
  Title: "Muon Sagitta Bias (Data Stat)"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMUON_SAGITTA_DATASTAT__1up"
  NtupleNameDown: "TMVATreeMUON_SAGITTA_DATASTAT__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

% Muon Sagitta Global
Systematic: "MUON_SAGITTA_GLOBAL"
  Title: "Muon Sagitta Bias (Global)"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMUON_SAGITTA_GLOBAL__1up"
  NtupleNameDown: "TMVATreeMUON_SAGITTA_GLOBAL__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

% Muon Sagitta Pt Extra
Systematic: "MUON_SAGITTA_PTEXTRA"
  Title: "Muon Sagitta Bias (Pt Extra)"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMUON_SAGITTA_PTEXTRA__1up"
  NtupleNameDown: "TMVATreeMUON_SAGITTA_PTEXTRA__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

% Muon Sagitta Res Bias
Systematic: "MUON_SAGITTA_RESBIAS"
  Title: "Muon Sagitta Bias (Res Bias)"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMUON_SAGITTA_RESBIAS__1up"
  NtupleNameDown: "TMVATreeMUON_SAGITTA_RESBIAS__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"


% MET Soft Track Resolution (Parallel)
Systematic: "MET_SoftTrk_ResoPara"
  Title: "MET Soft Track Resolution (Parallel)"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMET_SoftTrk_ResoPara"
  % Note: If your tree doesn't have a separate Down variation,
  % TRExFitter will use Symmetrisation to create it.
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: "met"

% MET Soft Track Resolution (Perpendicular)
Systematic: "MET_SoftTrk_ResoPerp"
  Title: "MET Soft Track Resolution (Perpendicular)"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMET_SoftTrk_ResoPerp"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: "met"



% MET Soft Track Scale
Systematic: "MET_SoftTrk_Scale"
  Title: "MET Soft Track Scale"
  Type: HISTO
  Samples: ttbar,wjets,HNL,VV,singleTop,Ztautau
  NtupleNameUp: "TMVATreeMET_SoftTrk_Scale__1up"
  NtupleNameDown: "TMVATreeMET_SoftTrk_Scale__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "met"
                                  